@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  /* background colours  */
  --color-bg-page: #020617;
  --color-bg-secondary: #0f172a;
  --color-bg-card: rgba(26, 26, 46, 0.45);
  --color-badge: rgba(0, 212, 255, 0.3);
  --color-badge-hover: rgba(0, 212, 255, 0.5);

  /* text colours  */
  --color-text-main: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-body: #94a3b8;
  --color-text-muted: #64748b;

  /* accents  */
  --color-accent: #22d3ee;
  --color-bright-accent: #67e8f9;

  /* fonts family  */
  --font-heading: "Merriweather", serif;
  --font-body: "Inter", sans-serif;
  --font-title: "Space Grotesk", serif;

  /* border colours  */
  --color-card-border: rgba(0, 212, 255, 0.2);
  --color-card-hover: rgba(0, 212, 255, 0.5);

  /* buttons text colours */
  --color-button-text-primary: #000000;
  --color-button-text-secondary: #ffffff;

  /* shadows  */
  --shadow-desktop-menu:
    0 0 2px rgba(0, 212, 255, 0.6), 0 0 15px rgba(0, 212, 255, 0.25);
  --shadow-mobile-menu: 0 8px 10px -10px rgba(0, 212, 255, 0.4);
  --shadow-card:
    0 0 12px rgba(0, 212, 255, 0.3), 0 0 15px rgba(0, 212, 255, 0.3);
  --shadow-button:
    0 0 10px rgba(0, 212, 255, 0.4), 0 0 20px rgba(0, 212, 255, 0.3);

  /* text shadow  */
  --text-shadow-glow:
    0 0 1px #ffffff, 0 0 2px #67e8f9, 0 0 8px rgba(34, 211, 238, 0.6);

  /*animations  */
  --animate-float: float 4s ease-in-out infinite;
  --animate-particle: particle 4s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-page);
  color: var(--color-text-main);
  font-family: var(--font-body);
}

/* image animation keyframe  */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

/* particles animation keyframe  */
@keyframes particle {
  0% {
    transform: translateY(20px) scale(0.5);
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  50% {
    transform: translateY(-15px) scale(1);
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-45px) scale(0.3);
    opacity: 0;
  }
}
